:host {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  align-items: center;
}

.counters {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;

  > * {
    flex-grow: 1;
  }

  .counter {
    text-align: center;
    padding: 24px 0;
    font-weight: 300;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;

    &__value {
      font-size: 2rem;
    }

    &__label {
      color: gray;
    }

  }
}
